<!Doctype html>
<html lang="en" dir="ltr">
   <head>
       <meta charset="utf-8">
       <title> Heart Disease Predictor </title>
       <link  rel="shortcut icon" href="{{ url_for('static',filename='images.png')}}">
       <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
      <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
   </head>>
   <body>
   <!-- Website Title -->
   <div class="container">
       <h2 class='container-heading'><span class="heading_font">Heart Disease Predictor</span></h2>
       <div class='description'>
           <p> Machine Learning Web App .</p>
       </div>
   </div>
   <!-- Text Area -->
   <div class="ml-container">
       <form action="{{ url_for('predict') }}" method="POST" >
       <input class="form-input" type="text" name="age" placeholder="Age (years) eg 29"  required="required"><br>
       <input class="form-input" type="text" name="sex" placeholder="0 for female,1 for male"  required="required"><br>
       <input class="form-input" type="text" name="chestpain" placeholder="chest pain( 0 or 1 or 2 or3)"  required="required"><br>
       <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 90"  required="required"><br>
       <input class="form-input" type="text" name="chol" placeholder="serum cholestoral in mg/dl eg:210"  required="required"><br>
       <input class="form-input" type="text" name="fbs" placeholder="fasting blood sugar > 120 mg/dl 1=true 0=false"  required="required"><br>
       <input class="form-input" type="text" name="restecg" placeholder="resting electrocardiographic results (values 0,1,2)"  required="required"><br>
       <input class="form-input" type="text" name="thalach" placeholder="maximum heart rate achieved eg 80"  required="required"><br>
       <input class="form-input" type="text" name="exang" placeholder="exercise induced angina 1 =YES, 0=NO"  required="required"><br>
       <input class="form-input" type="text" name="oldpeak" placeholder="depression induced by exercise relative to rest eg:3"  required="required"><br>
       <input class="form-input" type="text" name="slope" placeholder="the slope of the peak exercise ST segment eg:2"  required="required"><br>
       <input class="form-input" type="text" name="ca" placeholder="number of major vessels (0-3) colored by flourosopy"  required="required"><br>
       <input class="form-input" type="text" name="thal" placeholder="Thalassemia 1 = normal; 2 = fixed defect; 3 =revers"  required="required"><br>

             <input type="submit" class="my-cta-button" value="Predict">
       </form>
   </div>
   <!-- Footer -->
   <div class="footer">
       <div class="contact">
           <a target="_blank" href="https://www.linkedin.com/in/karim-akarkab-96347aba/?originalSubdomain=ma"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
       </div>
           <p class='footer-description'>Made with ❤️by akarkab karim.</p>
   </div>



</body>
</html>